{% extends '@CooolinhoUi/base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('bundles/cooolinhoui/css/login.css') }}">
{% endblock %}

{% block title %}Login{% endblock %}

{% block body %}
    <div class="container">
        <div class="d-flex justify-content-center h-100">
            <div class="card">

                <div class="card-header">
                    {% block login_header %}
                        <h3>
                            {% block login_title %}Login{% endblock %}
                        </h3>
                        <div class="d-flex justify-content-end social_icon">
                            <a href="https://github.com/cooolino" target="_blank">
                                <span><i class="fab fa-github-square"></i></span>
                            </a>
                        </div>
                    {% endblock %}
                </div>

                <div class="card-body">
                    {% block login_body %}

                        {% block login_body_top %}
                            {% if error != '' %}
                                <div class="alert alert-danger" role="alert">{{ error }}</div>
                            {% endif %}
                        {% endblock %}

                        {% block form_start %}{% endblock %}

                        {% block login_form_email_outer %}
                            <div class="input-group mb-3">
                                <span class="input-group-text"><i class="fas fa-user"></i></span>

                                {% block login_form_email %}{% endblock %}
                            </div>
                        {% endblock %}

                        {% block login_form_password_outer %}
                            <div class="input-group mb-3">
                                <span class="input-group-text"><i class="fas fa-key"></i></span>

                                {% block login_form_password %}{% endblock %}
                            </div>
                        {% endblock %}

                        {% block login_form_password_after %}{% endblock %}

                        {% block login_form_remember_me_outer %}
                            <div class="align-items-center remember">
                                {% block login_form_remember_me %}{% endblock %}
                            </div>
                        {% endblock %}

                        <div class="form-group mt-3 text-center">
                            {% block login_form_submit %}{% endblock %}
                        </div>

                        {% block login_form_end %}{% endblock %}
                    {% endblock %}
                </div>

                {% block login_footer %}
                    <div class="card-footer">
                        {% block login_footer_inner %}{% endblock %}
                    </div>
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}
